<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="style.css">

    <title>Student Buddy!</title>
  </head>
  <body>
    
    
  <div class="header">

  <h1>Student Buddy</h1>
  <p>..Your Companion..</p>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="nav navbar-nav">
     <!-- <div class="active"><a href="#">Home</a></div>-->
     <center> <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">FAQ</a></center>
    </div>
  </div>
</nav>


<div class="card-group">

  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="2.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h2>STUDENT INTERFACE</h2> 
      <img src="2.png" alt="Avatar" style="width:170px;height:170px;">
      <p><a href="#">Student</a></p>
    </div>
  </div>
</div>

 
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="1.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h2>TEACHER INTERFACE</h2> 
      <img src="1.png" alt="Avatar" style="width:170px;height:170px;">
       <p><a href="#">Teacher</a></p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="admin.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h2>ADMIN INTERFACE</h2>
      <img src="admin.png" alt="Avatar" style="width:170px;height:170px;">
       <p><a href="#">Admin</a></p>
      
    </div>
  </div>
</div>
</div>

  </body>
  <div class = "fixed-bottom">
  <div class = "Footer"><center>@ Copyright Group 4 Major Project</center></div></div>
</html>

